p{
   color: blue;
}
li{
   color: rgb(190, 204, 65);
}
h1,h2{
   color: blue;
   text-align: center;
}
li.my_python{
   color: chartreuse;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#my_developer{
   color: chocolate;
}
li{
   font-style: italic ;
   font-size:large;
}
li.header{
   font-size: x-large;
   font-style: unset;
   font-weight: 200;
   color:rgb(170, 180, 233);
   text-align: left;
}
#Testors{
   color: darkgreen;
}
li.My_Page{
   font-size:medium;
   font-weight: 200;
}
#Renuka{
   color: brown;
}
#Shiva{
   color: blueviolet;
}
#Pooja{
   color: darkgreen;
}
#Sanjana{
   color: gold;
}
#My_design{
   font-size: larger;
   font-weight: 200;
   color: greenyellow;
}
img.My_hero{
   width: 225px;
   height:225px;
   clear: right;
}
img.My_heropic3{
display: block;
margin: auto;
}
img.My_heropic2{
   float: right;
}